In [1]:
import pandas as pd
import numpy as np

In [2]:
credits = pd.read_csv('credits.csv')
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [3]:
meta = pd.read_csv('movies_metadata.csv')
meta.head()

C:\Users\abhin\AppData\Local\Temp\ipykernel_14864\2903413914.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  meta = pd.read_csv('movies_metadata.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [5]:
meta['year'] = meta['release_date'].dt.year

In [6]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [7]:
new_meta = meta.loc[meta.year == 2017, ['genres', 'id','title','year']]
new_meta.head()

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0

In [8]:
new_meta['id'] = new_meta['id'].astype(int)

In [9]:
data = pd.merge(new_meta, credits, on = 'id')

In [10]:
pd.set_option('display.max_colwidth', 75)
data.head(30)

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '..."
5,"[{'id': 53, 'name': 'Thriller'}, {'id': 12, 'name': 'Adventure'}]",279988,Extinction: Nature Has Evolved,2017.0,"[{'cast_id': 3, 'character': 'Professor John Howson', 'credit_id': '53b...","[{'credit_id': '53b4a061c3a3685eb7000232', 'department': 'Directing', '..."
6,"[{'id': 18, 'name': 'Drama'}, {'id': 35, 'name': 'Comedy'}]",326241,For Here or to Go?,2017.0,"[{'cast_id': 1, 'character': 'Vivek Pandit', 'credit_id': '58b338499251...","[{'credit_id': '54efa9bb9251417968006b3b', 'department': 'Directing', '..."
7,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'name': 'Fantasy'}, {'id': 87...",354556,Guardians,2017.0,"[{'cast_id': 2, 'character': 'Arseniy / Arsus', 'credit_id': '5707c4399...","[{'credit_id': '5707c405925141708d0000ef', 'department': 'Directing', '..."
8,"[{'id': 35, 'name': 'Comedy'}]",306943,The Outcasts,2017.0,"[{'cast_id': 0, 'character': 'Jodi Watson', 'credit_id': '547b4244c3a36...","[{'credit_id': '5558894dc3a3687772008e31', 'department': 'Art', 'gender..."
9,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",297762,Wonder Woman,2017.0,"[{'cast_id': 0, 'character': 'Wonder Woman / Diana Prince', 'credit_id'...","[{'credit_id': '56a93fca9251417dcb001e9f', 'department': 'Writing', 'ge..."
10,"[{'id': 16, 'name': 'Animation'}, {'id': 12, 'name': 'Adventure'}, {'id...",252983,Sly Cooper,2017.0,"[{'cast_id': 2, 'character': 'Murray (voice)', 'credit_id': '53f7f978c3...","[{'credit_id': '53f7f9b1c3a368735e000607', 'department': 'Directing', '..."
11,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 87...",339988,The Circle,2017.0,"[{'cast_id': 14, 'character': 'Mae Holland', 'credit_id': '558ca9ad9251...","[{'credit_id': '55528cd792514114c8000722', 'department': 'Directing', '..."
12,"[{'id': 35, 'name': 'Comedy'}]",353616,Pitch Perfect 3,2017.0,"[{'cast_id': 0, 'character': 'Beca Mitchell', 'credit_id': '55c63e50c3a...","[{'credit_id': '5847033992514166ba023648', 'department': 'Directing', '..."
13,[],324017,The Master,2017.0,"[{'cast_id': 0, 'character': '', 'credit_id': '55e82d0bc3a3682c70001fc8...",[]
14,"[{'id': 27, 'name': 'Horror'}]",354216,The Devil's Candy,2017.0,"[{'cast_id': 1, 'character': 'Jesse', 'credit_id': '55cbab44925141763c0...","[{'credit_id': '55cbaccbc3a36856f60005fb', 'department': 'Directing', '..."
15,"[{'id': 18, 'name': 'Drama'}]",379388,Las Plantas,2017.0,"[{'cast_id': 1, 'character': 'Florencia', 'credit_id': '56a68c66c3a3681...","[{'credit_id': '56a6809f92514129fb000485', 'department': 'Directing', '..."
16,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'name': 'Horror'}]",207680,"Return to Return to Nuke 'Em High, aka Volume 2",2017.0,"[{'cast_id': 5, 'character': 'Chrissy', 'credit_id': '52fe4d39c3a368484...","[{'credit_id': '52fe4d39c3a368484e1dda9b', 'department': 'Directing', '..."
17,"[{'id': 10770, 'name': 'TV Movie'}, {'id': 53, 'name': 'Thriller'}]",392418,The Cheerleader Murders,2017.0,"[{'cast_id': 2, 'character': 'Dee', 'credit_id': '570c1a48c3a36815b9000...","[{'credit_id': '570c19ea9251412be9000023', 'department': 'Directing', '..."
18,"[{'id': 35, 'name': 'Comedy'}]",305342,Dean,2017.0,"[{'cast_id': 2, 'character': 'Dean', 'credit_id': '546fe86fc3a3682fa700...","[{'credit_id': '556c947f9251411a42003de8', 'department': 'Editing', 'ge..."
19,"[{'id': 27, 'name': 'Horror'}]",300665,Leatherface,2017.0,"[{'cast_id': 1, 'character': 'Texas Ranger Hal Hartman', 'credit_id': '...","[{'credit_id': '561f8e3dc3a3680e16002e96', 'department': 'Production', ..."
20,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name': 'Thriller'}, {'id': 27...",403119,47 Meters Down,2017.0,"[{'cast_id': 0, 'character': 'Kate', 'credit_id': '5769bafcc3a368286b00...","[{'credit_id': '579baf2ec3a36847180036e5', 'department': 'Production', ..."
21,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}]",374471,Porto,2017.0,"[{'cast_id': 7, 'character': 'Mati Vargnier', 'credit_id': '56802514925...","[{'credit_id': '568024559251412e5200b981', 'department': 'Directing', '..."
22,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 1075...",388256,Mamaboy,2017.0,"[{'cast_id': 2, 'character': 'Kelly Hankins', 'credit_id': '59254235925...","[{'credit_id': '5911e5699251414edb0464fa', 'department': 'Directing', '..."
23,"[{'id': 99, 'name': 'Documentary'}]",413765,David Lynch: The Art Life,2017.0,"[{'cast_id': 1, 'character': 'Himself', 'credit_id': '57e05349c3a3684dd...","[{'credit_id': '58a1d21f9251413c62005641', 'department': 'Directing', '..."
24,"[{'id': 36, 'name': 'History'}, {'id': 10749, 'name': 'Romance'}, {'id'...",354859,The Promise,2017.0,"[{'cast_id': 4, 'character': 'Mikael Pogosian', 'credit_id': '55d129afc...","[{'credit_id': '578a43c1c3a36866a8001312', 'department': 'Production', ..."
25,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}]",402529,All Eyez on Me,2017.0,"[{'cast_id': 3, 'character': 'Tupac Shakur', 'credit_id': '5763c9fd9251...","[{'credit_id': '5763c8e5925141695500039a', 'department': 'Directing', '..."
26,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'name': 'Comedy'}, {'id': 18,...",339967,Colossal,2017.0,"[{'cast_id': 0, 'character': 'Gloria', 'credit_id': '555277f29251411487...","[{'credit_id': '59048464c3a3684ad700b944', 'department': 'Production', ..."
27,"[{'id': 99, 'name': 'Documentary'}, {'id': 18, 'name': 'Drama'}]",86822,Voyage of Time: Life's Journey,2017.0,"[{'cast_id': 6, 'character': 'Narrator (voice)', 'credit_id': '545e7a9f...","[{'credit_id': '58cf933ac3a36811ce002515', 'department': 'Production', ..."
28,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'name': 'Music'}]",394822,London Town,2017.0,"[{'cast_id': 1, 'character': 'Joe Strummer', 'credit_id': '5720cda69251...","[{'credit_id': '5720cd2092514142420000ed', 'department': 'Directing', '..."
29,"[{'id': 9648, 'name': 'Mystery'}, {'id': 53, 'name': 'Thriller'}, {'id'...",324560,Brimstone,2017.0,"[{'cast_id': 0, 'character': 'The Reverend', 'credit_id': '54d91b2ec3a3...","[{'credit_id': '54d91b589251410a4b000209', 'department': 'Directing', '..."

In [11]:
data['genres'].dtype

dtype('O')

In [12]:
import ast

## This will convert string values to list

data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [13]:
data['genres'].dtype

dtype('O')

In [14]:
def make_genre_list(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return(st.join(gen))

In [15]:
data['genres_list'] = data['genres'].map(lambda x: make_genre_list(x))

In [16]:
data['genres_list']

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
526                     Romance Comedy
527         Crime Comedy Action Family
528    Family Animation Romance Comedy
529               Crime Drama Thriller
530                                NaN
Name: genres_list, Length: 531, dtype: object

In [17]:
def get_actor1(x):
    cast = []
    for i in x:
        cast.append(i.get('name'))
    if cast == []:
        return np.NaN
    else:
        return(cast[0])

In [18]:
for i in data.columns:
    print(i)

genres
id
title
year
cast
crew
genres_list

In [19]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [20]:
def get_actor2(x):
    cast = []
    for i in x:
        cast.append(i.get('name'))
    if cast == [] or len(cast)<=1:
        return np.NaN
    else:
        return(cast[1])

In [21]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [22]:
data['actor_2_name']

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: actor_2_name, Length: 531, dtype: object

In [23]:
data['actor_1_name']

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka Haapamäki
527    Lou Diamond Phillips
528                     NaN
529          Sridevi Kapoor
530                     NaN
Name: actor_1_name, Length: 531, dtype: object

In [24]:
def get_actor3(x):
    cast = []
    for i in x:
        cast.append(i.get('name'))
    if cast == [] or len(cast)<=2:
        return np.NaN
    else:
        return(cast[2])

In [25]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [26]:
data['actor_3_name']

0        Geoffrey Rush
1            Gal Gadot
2       Cate Blanchett
3        Dave Bautista
4      Benjamin Walker
            ...
526     Tiitus Rantala
527        Gina Holden
528                NaN
529     Akshaye Khanna
530                NaN
Name: actor_3_name, Length: 531, dtype: object

In [27]:
def get_directors(x):
    dt = []
    st =" "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return(st.join(dt))

In [28]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [29]:
data['director_name']

0      Joachim Rønning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
526                  Hannaleena Hauru
527             Jonathan A. Rosenbaum
528          Beth David Esteban Bravo
529                      Ravi Udyawar
530                     Daisy Asquith
Name: director_name, Length: 531, dtype: object

In [30]:
for i in data.columns:
    print(i)

genres
id
title
year
cast
crew
genres_list
actor_1_name
actor_2_name
actor_3_name
director_name

In [31]:
new_movie_set = data.loc[:,['title','genres_list','director_name', 'actor_1_name','actor_2_name','actor_3_name']]

In [32]:
new_movie_set.head()

,title,genres_list,director_name,actor_1_name,actor_2_name,actor_3_name
0,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush
1,Justice League,Action Adventure Fantasy Sci-Fi,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot
2,Thor: Ragnarok,Action Adventure Fantasy Sci-Fi,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett
3,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Sci-Fi,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista
4,The King's Daughter,Fantasy Action Adventure,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker

In [33]:
new_movie_set.isna().sum()

title             0
genres_list       7
director_name     4
actor_1_name     22
actor_2_name     55
actor_3_name     70
dtype: int64

In [34]:
new_movie_set = new_movie_set.dropna(how = 'any')

In [35]:
new_movie_set.rename({'genres_list': 'genres'}, axis=1, inplace=True)
#new_movie_set['genres_list']

In [36]:
new_movie_set.rename({'title': 'movie_title'}, axis=1, inplace=True)

In [37]:
new_movie_set.head()

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name
0,Pirates of the Caribbean: Dead Men Tell No Tales,Adventure Action Fantasy Comedy,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush
1,Justice League,Action Adventure Fantasy Sci-Fi,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot
2,Thor: Ragnarok,Action Adventure Fantasy Sci-Fi,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett
3,Guardians of the Galaxy Vol. 2,Action Adventure Comedy Sci-Fi,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista
4,The King's Daughter,Fantasy Action Adventure,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker

In [38]:
new_movie_set['movie_title'] = new_movie_set['movie_title'].str.lower()

In [39]:
new_movie_set['Tags'] = new_movie_set['actor_1_name'] + ' ' + new_movie_set['actor_2_name'] + ' ' + new_movie_set['actor_3_name']+ ' ' + new_movie_set['director_name'] + ' ' + new_movie_set['genres']

In [40]:
new_movie_set

,movie_title,genres,director_name,actor_1_name,actor_2_name,actor_3_name,Tags
0,pirates of the caribbean: dead men tell no tales,Adventure Action Fantasy Comedy,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Johnny Depp Javier Bardem Geoffrey Rush Joachim Rønning Espen Sandberg ...
1,justice league,Action Adventure Fantasy Sci-Fi,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Ben Affleck Henry Cavill Gal Gadot Zack Snyder Action Adventure Fantasy...
2,thor: ragnarok,Action Adventure Fantasy Sci-Fi,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Chris Hemsworth Tom Hiddleston Cate Blanchett Taika Waititi Action Adve...
3,guardians of the galaxy vol. 2,Action Adventure Comedy Sci-Fi,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Chris Pratt Zoe Saldana Dave Bautista James Gunn Action Adventure Comed...
4,the king's daughter,Fantasy Action Adventure,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Pierce Brosnan William Hurt Benjamin Walker Sean McNamara Fantasy Actio...
...,...,...,...,...,...,...,...
524,the incredible jessica james,Romance Comedy,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,can't buy my love,Romance,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,thick lashes of lauri mäntyvaara,Romance Comedy,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527,cop and a half: new recruit,Crime Comedy Action Family,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529,mom,Crime Drama Thriller,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [41]:
old = pd.read_csv('Data1.csv')

In [42]:
old.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens

In [43]:
new = old.append(new_movie_set)

C:\Users\abhin\AppData\Local\Temp\ipykernel_14864\1445594904.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new = old.append(new_movie_set)

In [44]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,Tags
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,NaN
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,NaN
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,NaN
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,NaN
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens,NaN
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [45]:
new.drop_duplicates(subset ='movie_title', keep = 'last', inplace=True)

In [46]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,Tags
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,NaN
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,NaN
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,NaN
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,NaN
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens,NaN
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [47]:
new.isna().sum()

director_name       0
actor_1_name        0
actor_2_name        0
actor_3_name        0
genres              0
movie_title         0
Tags             4906
dtype: int64

In [48]:
new.shape, new_movie_set.shape

((5364, 7), (458, 7))

In [49]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,Tags
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,NaN
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,NaN
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,NaN
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,NaN
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens,NaN
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [59]:
new.drop(new.columns[-1], axis=1, inplace=True)

In [60]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens
...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom

In [62]:
new['Tags'] = new['actor_1_name'] + ' ' + new['actor_2_name'] + ' ' + new['actor_3_name']+ ' ' + new['director_name'] + ' ' + new['genres']

In [63]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,Tags
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker Unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [64]:
new.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
Tags             0
dtype: int64

In [65]:
new.drop_duplicates(subset ='movie_title', keep = 'last', inplace=True)

In [66]:
new

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,Tags
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,Unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker Unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [67]:
new.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
Tags             0
dtype: int64

In [68]:
new.to_csv('new_data2.csv', index = False)